<div cdkDropListGroup>
  <div class="example-container">
    <h2>AVAILABLE HEADERS</h2>

    <div
      cdkDropList
      [cdkDropListData]="availableHeaders"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of availableHeaders"
        [cdkDragDisabled]="item.disabled"
        cdkDrag
      >
        {{ item.Name }}
      </div>
    </div>
  </div>
  <div class="dragReset-container">
    <h3>Drag</h3>
    <i class="material-icons icon">
      sync_alt </i
    ><br />
    <a class="reset" (click)="reset()">Reset</a>
  </div>
  <div class="example-container">
    <h2>COLUMNS (CH)</h2>

    <div
      cdkDropList
      [cdkDropListData]="columns"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of columns"
        [cdkDragDisabled]="item.disabled"
        cdkDrag
      >
        {{ item.Name }}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>ROWS (RH)</h2>

    <div
      cdkDropList
      [cdkDropListData]="rows"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of rows"
        [cdkDragDisabled]="item.disabled"
        cdkDrag
      >
        {{ item.Name }}
      </div>
    </div>
  </div>
</div>
